body {
    background-color: yellow;
    color: black;
    text-align: center;
    font-family: 'Nerko One', cursive;

}

@media (max-width: 540px) {
    img {
        width: 7rem;
    }

    .footer p {
        font-size: small;
    }

    .banner h1 {
        font-size: 1.8rem;
    }
}

.game {
    padding: 7% 15%
}

.banner {
    padding: 7% 15%
}

.footer {
    padding: 17% 15%
}

.hide {
    visibility: hidden;
}