body {
    background-color: yellow;
    color: black;
    text-align: center;

}

@media (max-width: 540px) {
    img {
        width: 7rem;
    }
}

.game {
    padding: 7% 15%
}

.banner {
    padding: 7% 15%
}

.footer {
    padding: 7% 15%
}

.hide {
    visibility: hidden;
}